.Header{
  display: flex;
  flex-direction: row;
  gap: 35%;
  line-height: 24px;
  background: top;
  backdrop-filter: blur(16px);
  height: 78px;
  align-content: space-between;
  position: fixed;
  width: -webkit-fill-available;
  padding: 1vh 5vw;
  font-size: 20px;
  align-items: flex-end;
  justify-content: space-around;
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}
.Header ul{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  color: #FFFAF4;
  list-style: none;
  font-weight: 600;
  gap: 3rem;
  margin: 13px;
  li{
    color: #333;
    a{
      font-weight: 700;
    }
  }
}
section{
  min-height: 90vh;
}
section#home{
  padding: 13vh 0vw;
  width: 100%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
div#workingWoman{
  float: right;
  img{
    border-radius: 150px;
    border: solid 5px;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}